# Ignore environment variables
.env

# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
